{% extends "../base.html" %}

{% block content %}
<h1>Activity Details</h1>

<table class="table table-bordered">
    <tr>
        <th>Titel:</th>
        <td>{{activity.titel}}</td>
    </tr>
    <tr>
        <th>Activity Datum:</th>
        <td>{{activity.activitydate}}</td>
    </tr>
    <tr>
        <th>Beschreibung:</th>
        <td>{{activity.description}}</td>
    </tr>
    <tr>
        <th>Typ:</th>
        <td>{{activity.activitytype}}</td>
    </tr>
    <tr>
        <th>Organisation:</th>
        <td>{{activity.organisation}}</td>
    </tr>
    <tr>
        <th>Kontakt:</th>
        <td>{{activity.kontakt}}</td>
    </tr>
</table>

<a class="btn btn-default" href="{% url 'activity_edit' pk=activity.pk%}">Edit</a>
{% if user.is_superuser %}
<a class="btn btn-default" href="{% url 'activity_delete' pk=activity.pk%}">Delete</a>
{% endif %}
<a class="btn btn-default" href="{% url 'activity_list' %}">Zur Übersicht</a>
{% endblock %}


