{% extends "../base.html" %}
{% load bootstrap3 %}
{% block content %}

<h1>Aktivitäten</h1>

<table class="table table-hover">
    <tr>
        <th>Titel</th>
        <th>Datum</th>
        <th>Organisation</th>
        <th>Typ</th>
        <th>Detail</th>
    </tr>
    {% for a in acts %}
    <tr>
        <td>{{a.titel}}</td>
        <td>{{a.activitydate}}</td>
        <td>{{a.organisation}}</td>
        <td>{{a.activitytype}}</td>
        <td><a href="{% url 'activity_detail' pk=a.pk%}">Details</a></td>
    </tr>
    {% endfor %}
</table>



<div class="text-center">
    {% bootstrap_pagination acts pages_to_show=5 %}
</div>
<div class="text-center">
    <small>
    Page {{ acts.number }} of {{ acts.paginator.num_pages }}.
    </small>
</div>


{% endblock %}


