{% load bootstrap3 %}
{% load static %}



<!DOCTYPE html>
<html>
<head>
    <title>uwcBwerbung</title>
    {% bootstrap_css %}
    <script type="text/javascript" src="{% static 'orgmgm/fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'orgmgm/fusioncharts/themes/fusioncharts.theme.zune.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default">    
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="{% url 'home' %}"><img style="height: 1.2cm" src="{% static 'orgmgm/images/logo.gif' %}"></a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'dashboard_overview' %}">Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datenbank<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="{% url 'organisation_add' %}"><span class="glyphicon glyphicon-plus"/> Organisation</a></li>
                            <li><a href="{% url 'organisation_list' %}"><span class="glyphicon glyphicon-list"/> Organisation</a></li>
                            <li><a href="{% url 'organisation_search' %}"><span class="glyphicon glyphicon-search"/> Organisation</a></li>
                            <li role="separator" class="divider">Test</li>
                            <li><a href="{% url 'activity_add' %}"><span class="glyphicon glyphicon-plus"/> Aktivität</a></li>
                            <li><a href="{% url 'activity_list' %}"><span class="glyphicon glyphicon-list"/> Akitivtät</a></li>
                            <li><a href="{% url 'activity_search' %}"><span class="glyphicon glyphicon-search"/> Aktivität</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'kontakt_add' %}"><span class="glyphicon glyphicon-plus"/> Kontakt</a></li>
                            <li><a href="{% url 'kontakt_list' %}"><span class="glyphicon glyphicon-list"/> Kontakt</a></li> 
                            <li><a href="{% url 'kontakt_search' %}"><span class="glyphicon glyphicon-search"/> Kontakt</a></li>
                      </ul>           
                    <li><a href="{% url 'resources' %}">Resourcen</a></li>         
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   {% if user.is_authenticated %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                                {% if user.is_superuser %}
                                <li><a href="/admin/">Admin Page</a></li>
                                {% endif %}
                            </ul>
                         </li>
                    {% else %}
                         <li><a href="{% url 'login'%}?next={{request.path}}"><span class="glyphicon glyphicon-user"></span> Login</a></li>   
                    {% endif %} 
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
        {# <p>© Jacob Matthew Murray for UWCbeWERBUNG</p> #}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_javascript %}
    
</body>

</html>

