{% load bootstrap3 %}
{% load static %}



<!DOCTYPE html>
<html>
<head>
    <title>UWC Bewerbung</title>
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-default">    
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aktivität<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="">Add</a></li>
                            <li><a href="">List</a></li>
                            <li><a href="">Search</a></li>
                      </ul>                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Organisation<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="{% url 'organisation_add' %}">Add</a></li>
                            <li><a href="{% url 'organisation_list' %}">List</a></li>
                            <li><a href="{% url 'organisation_search' %}">Search</a></li>
                      </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kontakt<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                            <li><a href="{% url 'kontakt_add' %}">Add</a></li>
                            <li><a href="{% url 'kontakt_list' %}">List</a></li>
                            <li><a href="{% url 'kontakt_search' %}">Search</a></li>
                      </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_javascript %}

</body>
</html>

