{% extends './base.html' %}

{% block title %}Willkommen{% endblock %}

{% block content %}

<h1>Willkommen!</h1>

<p>UWC ist eine lebensverändernde Erfahrung. Daher möchten wir sicherstellen, dass möglichst viele SchülerInnen in Deutschland über UWC und die Möglichkeit einer Bewerbung Bescheid wissen. Hierzu wurde über das letzte Jahr ein Tool erarbeitet, welches es ermöglichen soll, organisiert, fair und messbar über UWC zu informieren.</p>

<p>Es ist der Wahnsinn, dass Du bei dieser Initiative mithelfen möchtest. UWC braucht Dich und dieses Tool soll es Dir ermöglichen auch ohne viel Vor- oder Einarbeitung effektiv bei der uwc b_werbung mitzuhelfen! </p>


<p><a href="mailto:jacobmatthewmurray@gmail.com?Subject=uwc20%b20%werbung20%registration" target="_top">Schreib eine kurze Email</a> mit Deinem Namen, UWC Jahrgang und sonstigen Fragen und Anregungen an uns und Du bekommst Deine Login Informationen zugeschickt.</p>

<p>Cheers! Mari und Jacob</p>


{% endblock %}