{% extends './base.html' %}

{% block title %}Willkommen{% endblock %}

{% block content %}


<h2>Willkommen auf der Outreach-Datenbank von UWC Deutschland!</h2>

<p>Login-Daten bekommst Du, indem Du eine formlose Email mit Namen und Deinem UWC-Jahrgang/Shortcourse/UWC-Bezug an jacobmatthewmurray@gmail.com schickst.
</p>

<h3>Ein einfaches Tool, um UWC-Outreach gerechter, simpler und schneller zu machen.</h3>

<p>UWC soll bekannter werden und einen diverseren BewerberInnenpool erreichen - mit diesem Ziel hat Jacob (MUWCI 06-08) diese Datenbank entwickelt. Sie hilft uns Alumni, UWC außerhalb unserer persönlichen Netzwerke zu bewerben und unsere Outreach-Aktivitäten fair über Schultypen, Bundesländer und Regionen zu verteilen. Und sie hilft dem Stiftungsbüro, Schulen und Organisationen mit wenigen Klicks kontaktieren zu können. 
</p>

<h3>Die Mehrheit der BewerberInnen hört von UWC über persönliche Kontakte. </h3>

<p>Alumni-Outreach ist derzeit unser effektivstes und günstigstes Werkzeug, um tolle Jugendliche im ganzen Land zu erreichen. Also werdet aktiv! In den Menüpunkten könnt Ihr entweder Schulen und Organisationen kontaktieren, oder Kontakte an Schulen oder Vereinen eintragen. Wichtig: Vergesst nach getaner Outreach-Arbeit nicht, Eure Aktivitäten einzutragen! Nur so behalten wir den Überblick, in welchen Regionen noch mehr Arbeit getan werden muss.
</p>

<p>In den FAQs findet Ihr mehr Informationen. Weitere Fragen? Schreibt gerne marietta.angeli@uwc.org.</p>

<p>Jacob (MUWCI 06-08) und Marietta (WK 06-08)</p>



{% endblock %}