{% extends "../base.html" %}

{% block content %}

<h1>Kontakte</h1>

<table class="table table-hover">
    <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Email Adresse</th>
        <th>Organisation</th>
        <th>Test</th>
    </tr>
    {% for k in kons %}
    <tr>
        <td>{{k.nachname}}</td>
        <td>{{k.vorname}}</td>
        <td>{{k.email}}</td>
        <td>{{k.organisation}}</td>
        <td><a href="{% url 'kontakt_detail' pk=k.pk%}">Details</a></td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'kontakt_search' %}">Search</a>
<a class="btn btn-default" href="{% url 'kontakt_add' %}">Add</a>
{% endblock %}