{% extends "../base.html" %}

{% block content %}
<h1>Organisation Details</h1>

<table class="table table-bordered">
    <tr>
        <th>Organisation Name:</th>
        <td>{{organisation.name}}</td>
    </tr>
    <tr>
        <th>Strasse und Hausnummer:</th>
        <td>{{organisation.strssehsnr}}</td>
    </tr>
    <tr>
        <th>Postleitzahl:</th>
        <td>{{organisation.plz}}</td>
    </tr>
    <tr>
        <th>Stadt:</th>
        <td>{{organisation.stadt}}</td>
    </tr>
    <tr>
        <th>Bundesland:</th>
        <td>{{organisation.bundeseland}}</td>
    </tr>
    <tr>
        <th>Telefon:</th>
        <td>{{organisation.telefon}}</td>
    </tr>
    <tr>
        <th>Email-Adresse:</th>
        <td>{{organisation.email}}</td>
    </tr>
    <tr>
        <th>Homepage:</th>
        <td>{{organisation.www}}</td>
    </tr>
</table>

<a class="btn btn-default" href="{% url 'organisation_edit' pk=organisation.pk %}">Edit</a>
{% if user.is_superuser %}
<a class="btn btn-default" href="{% url 'organisation_delete' pk=organisation.pk %}">Delete</a>
{% endif %}
<a class="btn btn-default" href="{% url 'organisation_list' %}">Zur Übersicht</a>

<div class="col-xs-12" style="height:75px;"></div>

<h1>Recent Activity</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Activity Date</th>
            <th>Kontakt</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
    </thead>
    {% for a in activity_list %}
    <tbody>
        <tr>
            <td>{{ a.activitydate|date:"M d, Y" }}</td>
            <td>{{ a.kontakt }}</td>
            <td>{{ a.titel }}</td>
            <td>{{ a.description }}</td>
            <td>{{ a.activitytype }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'activity_add' %}?organisation={{ organisation.pk }}"><span class="glyphicon glyphicon-plus"/> Aktivität</a>


{% endblock %}
